name: CI Dispatcher

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      rust_changed: ${{ steps.filter.outputs.rust }}
      doc_changed: ${{ steps.filter.outputs.docs }}
      yaml_changed: ${{ steps.filter.outputs.yaml }}
    steps:
      - uses: actions/checkout@v4

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            rust:
              - '**/*.rs'
              - '**/*.toml'
              - 'Cargo.lock'
              - 'scripts/**'
            docs:
              - '**/*.md'
            yaml:
              - '.github/workflows/*.yml'

  run-rust-ci:
    needs: detect-changes
    if: needs.detect-changes.outputs.rust_changed == 'true'
    uses: ./.github/workflows/run-ci.yml

  run-doc-lint:
    needs: detect-changes
    if: needs.detect-changes.outputs.doc_changed == 'true'
    uses: ./.github/workflows/run-doc.yml

  run-yaml-validation:
    needs: detect-changes
    if: needs.detect-changes.outputs.yaml_changed == 'true'
    uses: ./.github/workflows/run-validate.yml
